<head>
<meta charset="utf-8">
<meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="http://nextbig.net/Public/css/amui.all.min.css"/>
<style type="text/css">
img {
	width: 100%;
	padding: 0px -10px 0px -10px;
}
.fixed-top {
	position: fixed;
	top: 0px;
	opacity: 0.6;
}
</style>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default fixed-top" data-am-sticky>
  <div class="am-header-left am-header-nav"> <a href="#left-link" class="" onClick="back_main()"> 返回 </a> </div>
  <h1 class="am-header-title">
    <a href="#title-link" class="">今日精选</a>
  </h1>
</header>
<div class="am-container">
  <div style="margin-top:49px;padding:0px 10px 0px 10px;">
  <h1>{$rs['post_title']}</h1>
  {$rs['post_content']}
  </div>
</div>

<script>
		function back_main(){
			plus.webview.close( "closeinfo", "auto" );
			plus.webview.close( "info", "auto" );
      	}
</script>
</body>
