<include file="EasyJianli:header" />
<script src="http://cdn.bootcss.com/tinymce/4.1.5/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "div.editable",
    inline: true,
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
});
</script>
<h2 style="font-family:'Microsoft YaHei';" align="center">在线编辑简历</h2>
<form class="am-form" id="myForm"  method="post"  action="#">
	<div class="container editable" style="font-family:'Microsoft YaHei'; width:210mm; height:297mm;" id="jlinfo">
		<h2 style="font-family:'Microsoft YaHei'; font-size: 36px; " align="center">小易的简历</h2>
		<div class="row" style="margin-top:10px;">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" colspan="4" style="font-weight:bold;">个人资料：</td>
					</tr>
					<tr>
						<td width="20%" align="center">姓名：</td>
						<td width="30%">张小易</td>
						<td align="center" width="20%">英语等级：</td>
						<td width="30%">四级</td>
					</tr>					
					<tr>
						<td align="center">毕业学校：</td>
						<td>xxx大学</td>
						<td align="center">专业：</td>
						<td>xxx专业</td>
					</tr>
					<tr>
						<td width="20%" align="center">移动电话：</td>
						<td>18712345678</td>
						<td align="center">电子邮箱：</td>
						<td>EasyJianli@163.com</td>
					</tr>
					<tr>
						<td align="center">联系地址：</td>
						<td colspan="3">xx省xx市xx区xx街道xxxx，邮编：123456</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" colspan="2" style="font-weight:bold;">教育经历：</td>
					</tr>
					<tr>
						<td align="center" width="40%">2011年9月1日-2012年6月30日</td>
						<td align="left">XX学院XX专业</td>
					</tr>
					<tr>
						<td align="center">2012年9月1日-2014年6月30日</td>
						<td align="left">XX学院XX专业</td>
					</tr>
					<tr>
						<td align="center">2012年9月1日-2014年6月30日</td>
						<td align="left">XX学院XX专业</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" style="font-weight:bold;">主修课程：</td>
					</tr>
					<tr>
						<td>电路分析基础，模拟电路，数字电路，工程制图，电磁场，检测与转换技术，电气控制技术，电力电子技术，自动控制原理，现代控制原理，开关电源技术，微机原理及应用，工厂供电，PLC原理及应用，电机学，电机拖动基础，运动控制学
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" colspan="2" style="font-weight:bold;">实践经历：</td>
					</tr>
					<tr>
						<td align="center" width="40%">2011年9月1日-2012年6月30日</td>
						<td align="left">XXX社团担任XXX职位</td>
					</tr>
					<tr>
						<td align="center">2012年9月1日-2014年6月30日</td>
						<td align="left">XXX项目，负责XXX内容</td>
					</tr>
					<tr>
						<td align="center">2012年9月1日-2014年6月30日</td>
						<td align="left">XXX项目，负责XXX内容</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" colspan="2" style="font-weight:bold;">荣誉奖励：</td>
					</tr>
					<tr>
						<td align="center" width="40%">2011年9月1日-2012年6月30日</td>
						<td align="left">获得XXX荣誉称号</td>
					</tr>
					<tr>
						<td align="center">2012年9月1日-2014年6月30日</td>
						<td align="left">获得XXX荣誉称号</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-condensed">
					<tr>
						<td align="left" colspan="2" style="font-weight:bold;">About ME：</td>
					</tr>
					<tr>
						<td align="center" width="20%" >期望职位：</td>
						<td align="left">XXX工程师</td>
					</tr>
					<tr>
						<td align="center">兴趣爱好：</td>
						<td align="left">篮球，羽毛球</td>
					</tr>
					<tr>
						<td align="center">自我评价：</td>
						<td align="left">
						人品端正，成熟稳重，热情坦诚，大度中不乏细腻<br>
						遵守规则，严于律己，对待事物认真负责<br>
						团结进取，善于沟通，有较强的动手能力和协调能力<br>
						开拓进取，勇于创新，努力同时争取突破
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" align="center">
		<textarea id="tmp_info" name="tmp_info_jianli" style="display:none;"></textarea>
		<input type="text" name="jltype" style="display:none;" value="{$ids['jltype']}">
			<button type="submit" class="btn btn-success" id="post_info">提交</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" align="center" id="msg">
		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<script type="text/javascript">
			/*960*60 创建于 2014-09-29*/
			var cpro_id = "u1740144";
			</script>
			<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
		</div>
	</div>
</form>
<script src="http://cdn.bootcss.com/jquery.form/3.50/jquery.form.min.js"></script>
<php>$url="http://pdf.nextbig.net/tmp_pdfs/";</php>
<script>
$("#post_info").click(function(){
	var jlinfo=$("#jlinfo").html();
	$("#msg").html("正在生成PDF");
	$("#tmp_info").val(jlinfo);
	// 准备好Options对象
	var options = {
		url:  "{:U('EasyJianli/post_jl')}",
		success: function(d) {
			$("#msg").html("生成完成！<a href='http://pdf.nextbig.net/tmp_pdfs/"+d.url+"' target='_blank' class='btn btn-info'>点击查看下载</a>，<small>请及时下载，10~60分内会被自动删除哦~</small>");
		}
		};

	   // 将options传给ajaxForm
	$('#myForm').ajaxForm(options);
});

</script>
<include file="EasyJianli:footer" />