<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <title>{$title}-易简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<link href="http://sccldj.com/Public/sidr/jquery.sidr.dark.css" rel="stylesheet" />
	<link href='http://fonts.useso.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
	body {font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif; 
	font-size: 18px;
	}
	img {max-width: 100%; width:100%}
	.en{
	font-family: 'Droid Sans', sans-serif;
	}
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 0px solid #FFF;
	}
	</style>
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen">
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://sccldj.com/Public/sidr/jquery.sidr.min.js"></script>
  </head>
  <body>