<footer data-am-widget="footer" class="am-footer am-footer-default">
<!--
  <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile" data-am-modal="{target: '#am-switch-mode'}">云适配版</span>
    <span class="am-footer-divider">|</span>
    <a id="godesktop" data-rel="desktop" class="am-footer-desktop"
    href="#">电脑版</a>
  </div>
-->
  <div class="am-footer-miscs ">
    <p><a href="http://amazeui.org/" title="Amazeui" target="_blank">Amazeui</a>驱动</p>
    <p>CopyRight©NextBig</p>
    <p><a href="http://www.miitbeian.gov.cn/">粤ICP备12071225号-2</a></p>
  </div>
</footer>
<div id="am-footer-mode" class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-modal-footer-hd">
      <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin"
      data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">欢迎访问
      <span class="am-switch-mode-owner">Plus</span>
      <span class="am-switch-mode-slogan">nextbig.net</span>
    </div>
  </div>
</div>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<script src="http://nextbig.net/Public/js/zepto.min.js"></script>
<script src="http://nextbig.net/Public/js/amui.min.js"></script>

<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F081f342c6b5bef74098ece6cd5a58515' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
  </body>
</html>