<!doctype html>
<html class="no-js">
  <head>
	<meta charset="utf-8">
	<meta name="baidu_union_verify" content="da2f5e8780b8df6ef35c979e1aab5369">
	<script type="text/javascript" name="baidu-tc-cerfication" src="http://apps.bdimg.com/cloudaapi/lightapp.js#368d9aee75b49668c9a8c2638243ebfc"></script>
	<script type="text/javascript">window.bd && bd._qdc && bd._qdc.init({app_id: '9c0508ebd99aa4bae1347767'});</script>
    <title>{$title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="http://nextbig.net/Public/i/favicon.png">
    <link rel="stylesheet" href="http://nextbig.net/Public/css/amui.all.min.css"/>
	<style type="text/css">
	@font-face {
	  font-family: 'Rancho';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Rancho'), url(http://nextbig.net/Public/f/puZHhCfWV5yqA8Qtz4KZUg.woff) format('woff');
	}
	.en{
	font-family: 'Rancho', cursive,'Microsoft Yahei';
	}
	</style>
  </head>
  
