    <header data-am-widget="header" class="am-header">
      <div class="am-header-left am-header-nav">
        <a href="#l_menu" class=""  data-am-offcanvas="{target: '#l_menu', effect: 'push'}>
          <span class="am-header-nav-title">菜单</span>
          <i class="am-header-icon am-icon-bars"></i>
        </a>
      </div>
      <h1 class="am-header-title en"><a href="{:U('Index/index')}">NextBig</a></h1>
      <div class="am-header-right am-header-nav">
        <a href="{:U('Index/msg')}" class="" style="font-size:1.2rem;">
          <span class="am-header-nav-title">消息</span>
          <span class="am-badge am-badge-warning">{:get_msg_num()}</span>
        </a>
        <a href="{:U('Add/add_new_idea')}" class="">
          <span class="am-header-nav-title">发布</span>
          <i class="am-header-icon am-icon-send-o"></i>
        </a>
      </div>
    </header>
<div id="l_menu" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
		<div class="am-btn-group-stacked" style="color:#000;">
		  <a href="{:U('Index/index')}" class="am-btn am-btn-link" style="width:230px;">首页</a>
          <a href="{:U('Index/myidea')}" class="am-btn am-btn-link" style="width:230px;">我发布的</a>
		  <a href="{:U('Links/index')}" class="am-btn am-btn-link">它山之石</a>
		  <!--<a href="{:U('Index/tags')}" class="am-btn am-btn-link" style="width:230px;">标签</a>-->
          <hr>
          <a href="{:U('Index/setting')}" class="am-btn am-btn-link" style="width:230px;">设置</a>
		  <a href="{:U('Index/login_out')}" class="am-btn am-btn-link" style="width:230px;">退出</a>
		</div>
    </div>
  </div>
</div>

