<include file="Index:header" />
<body class="head-fixed">
<include file="Index:menu" />
<div class="am-g">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
		<div class="row">
			<div class="col-sm-12">
            
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                  <!--列表标题-->
                  <div class="am-list-news-hd am-cf">
                    <!--带更多链接-->
                    <a href="###">
                      <h2>您收到的评论</h2>
                    </a>
                  </div>
                  <div class="am-list-news-bd">
                    <ul class="am-list">
                    <volist name="rs" id="vo">
                      <li class="am-g am-list-item-desced">
                        <span class="am-list-item-hd" style="color: #0e90d2;">{$vo.title}</span>
                        <div class="am-list-item-text">
                        {$vo.msg}
                        </div>
                        <div class="am-fr">
                        <a href="{$vo.url}?mid={$vo.mid}" class="am-text-success">去看看</a>|
                        <a href="#" class="am-text-primary" c_type="z" mid="{$vo.mid}">知道啦</a>
                        </div>
                      </li>
                    </volist>
                    </ul>
                  </div>
                </div>
                
                
			</div>
		</div>
    </div>
</div>
<php>$url="http://".$_SERVER['HTTP_HOST'].U('Index/index');</php>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    $('a').click(function() {
		var c_type= $(this).attr("c_type");
		var mid= $(this).attr("mid");
		if(c_type=="z"){
			$.get("{:U('Idea/read_msg')}", { mid:mid},
				function(d){
					location.href = "{$url}";	
				}
			);	
		}
    });
</script>
<include file="Index:footer" />
