<include file="Index:header" />
<body class="head-fixed">
<include file="Index:menu" />
<style type="text/css">
    .p_info:hover {
      color:#339933;
	  cursor:pointer;
    }
</style>
<div class="am-g">
    <div class="col-md-2 col-md-offset-5 col-sm-6 col-sm-offset-3">
    	<img src="{$u['tinyurl']}" alt="{$u['username']}" class="am-img-circle" width="100%">
    </div>
</div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
<div class="am-g">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
		<div class="row">
			<div class="col-sm-12">

				<ul class="am-comments-list" id="list_info">
					<volist name="rs" id="vo">
						<li class="am-comment" id="cc_{$vo.idea_id}"><a href="#{$vo.username}"><img src="{$vo.headurl}" alt="" class="am-comment-avatar" width="48" height="48"></a>
						<div class="am-comment-main">
							<header class="am-comment-hd">
							<div class="am-comment-meta">
								<a href="#{$vo.username}" class="am-comment-author" title="{$vo.username}">{$vo.username}</a> 发布于 <time datetime="{:date("Y-m-d H:i",$vo['time'])}" title="{:date("Y-m-d H:i",$vo['time'])}">{:date("Y-m-d H:i",$vo['time'])}</time>
							</div>
							</header>
							<div class="am-comment-bd">			
								<blockquote>
									<php>if($vo['url']){</php>
									<a href="{$vo.url}" target="_blank" class=""><i class="am-icon-link"></i>{$vo.title}</a>
									<php>}else{
										echo $vo['title'];
									}</php>
								</blockquote>
								<div class="p_info" style="height:4.0rem;line-height:2rem; overflow:hidden;" onClick="show_info({$vo.idea_id})" id="show_info{$vo.idea_id}">
									<span class="am-badge am-badge-secondary">{:get_tag_info($vo['infotype'])}</span>
									{$vo.info}
								</div>
								<span class="am-fr am-text-secondary am-text-sm">{$vo.tags}</span>
								<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
								<div class="am-fr">
									<a href="#cc_{$vo.idea_id}" class="am-text-primary am-text-sm" c_type="z" idea_id="{$vo.idea_id}" onClick="add_zan({$vo.zan},{$vo.idea_id})"><span id="z_{$vo.idea_id}" class="am-badge am-badge-primary">{$vo.zan}</span><i class="am-header-icon am-icon-hand-o-up"></i>赞</a>|
									<a href="{:U('Idea/view',array('idea_id'=>$vo['idea_id']))}" class="am-text-success am-text-sm"><i class="am-header-icon am-icon-comment-o"></i>我来说两句<small class="am-badge am-badge-success">{$vo.c}</small></a>
								</div>
							</div>
						</div>
						</li>
					</volist>
				</ul>
                
                <!--更多在底部-->
                <div class="am-list-news-ft">
                	<a class="am-list-news-more am-btn am-btn-default" href="###" id="get_more" page="1">查看更多 &raquo;</a>
                </div>

			</div>
		</div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
	function add_zan(zan,idea_id){
		zan=parseInt(zan)+1;
		$.get("{:U('Idea/add_zan')}", { idea_id: idea_id, zan: zan },
			function(d){
				$("#z_"+idea_id).text(d.msg);	
			}
		);
	}

	function show_info(idea_id){
		$("#show_info"+idea_id).removeClass("p_info");
		$("#show_info"+idea_id).removeAttr("style");
	}
	
    $('#get_more').click(function() {
		var page= $(this).attr("page");
		var page1=parseInt(page);
		page1=page1+1;
		$(this).attr("page",page1);
		$.get("{:U('Index/get_more',array('uid'=>$u['uid']))}", { page: page},
			function(d){
				$('#list_info').append(d.li);
			}
		);
		
    });
</script>
<include file="Index:footer" />
