    <ul>
        <li class="active" style="background-color: grey;"><a href="#" id="bak">返回</a></li>
        <li><a href="{:U('Index/index',array('tag'=>'all'))}">首页</a></li>
        <li><a href="{:U('Index/index',array('tag'=>1))}">趣产品</a></li>
		<li><a href="{:U('Index/index',array('tag'=>2))}">美文章</a></li>
		<li><a href="{:U('Index/index',array('tag'=>3))}">好公司</a></li>
        <li id="close_btn"><a href="#" onClick="close_app();">关闭</a></li>
        <li><a href="#" onClick="reset_app();">重启</a></li>
    </ul>